<div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Add testimonial</h4>
      </div>
      <form action="addtestimonial" method="POST">                      
        <div class="modal-body">
          
            <div class="form-group">
              <label for="authorInput">Author name:</label>
              <input type="text" class="form-control" id="authorInput" placeholder="John Doe" name="author" required>
            </div>
            <div class="form-group">
              <label for="testInput">Testimonial:</label>
              <textarea class="form-control" rows="3" name="testimonialText" required></textarea>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success">Add</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Node webshop admin panel</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
        <li><a href="/admin/logout">Logout</a></li>
        </ul>
    </div>
    </div>
</nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/admin/main">Orders</a></li>
            <li><a href="/admin/products">Products</a></li>
            <li class="active"><a href="/admin/testimonials">Testimonials <span class="sr-only">(current)</span></a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/admin/categories">Categories</a></li>
            <li><a href="/admin/colors">Colors</a></li>
            <li><a href="/admin/sizes">Sizes</a></li>
            <li><a href="/admin/about">About</a></li>
            <li><a href="/admin/users">Admin users</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

          <h2 class="sub-header">Testimonial</h2>
          <div class="btn-group" role="group" aria-label="...">
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">Add new testimonials</button>
          </div>
          <br><br>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Text</th>
                  <th>Author</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                {{#each results}}
                <tr>
                  <td>{{this.text}}</td>
                  <td>{{this.author}}</td>
                  <td></td>
                  <td><a href="testimonialdelete/{{this.id}}"><button class="btn btn-danger" onClick="return confirm('Do you want to delete testimonial')"><i class="far fa-trash-alt"></i></button></a></td>
                </tr>
                {{/each}}
                {{#unless results}}
                  <div class="alert alert-danger text-center">
                    <p>THERE ARE NO TESTIMONIALS!!!</p>
                 </div>
                {{/unless}}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>